body, input {
    padding:0;
    margin:0;
}

#content {
    width:480px;
    height:600px;
    margin: 0 auto;
}

/** 账号容器 */
#content .phoneContainer {
    margin-top:40px;
    height:32px;
    width:480px;
    padding-bottom: 32px;
    border-bottom:1px solid #ececec;
}

#content .phoneContainer .phoneIcon, #content .passwordContainer .passwordIcon {
    float:left;
    display: block;
}

#content .phoneContainer .phoneDiv, #content .passwordContainer .passwordDiv {
    float:left;
    display: block;
}

#content .phoneContainer .phone, #content .passwordContainer .password {
    width:380px;
    height:32px;
    border:0 solid #ffffff;
    margin-left: 60px;
    font-size: 18px;
}

/** 密码容器 */
#content .passwordContainer {
    margin-top:40px;
    height:32px;
    width:480px;
    padding-bottom: 32px;
    border-bottom:1px solid #ececec;
}

#loginBtnDiv .loginBtn{
    margin-top: 40px;
    background: url("login_normal.png");
    display: block;
    width:480px;
    height:80px;
    font-size: 20px;
    color:#ececec;
    border:0 solid #fff;
}

#loginBtnDiv .loginBtn:hover{
    background: url("login_hover.png");
    border:0 solid #fff;
}

/** 底部 */
#footer {
    margin-top: 30px;

}
#footer .server {
    float: left;
    display: block;
    background: #ffffff;
    height: 36px;
    width: 200px;
    font-size: 20px;
    color:red;
}

#footer .codeLogin {
    float: right;
    display: block;
    background: #ffffff;
    height: 36px;
    width: 200px;
    font-size: 20px;
    color:red;
    text-align: right;
}

#footer .server, #footer .codeLogin {
    border: 0 solid #ececec;
}

#footer a:hover {
    cursor: pointer;
}